.foot-textt {
  color: #3c2b4a !important;
  font-size: 14px !important;
}
.icon-text {
  color: #212326;
}
.iconns {
  color: #d2d2d2;
}
.linee {
  border: 0.858965px solid #155ed7;
}
.sec-four {
  font-family: 'Ubuntu';
  font-style: normal;
}
.footter-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 196.5%;
  color: #212326;
  margin-top: -15px;
}

