.foot-textt {
  color: #3c2b4a !important;
  font-size: 14px !important;
}
.icon-text {
  color: #212326;
}
.iconns {
  color: #d2d2d2;
}
.linee {
  border: 0.858965px solid #155ed7;
}
.sec-four {
  font-family: 'Ubuntu';
  font-style: normal;
}
.footter-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 196.5%;
  color: #212326;
  margin-top: -15px;
}
@media (min-width: 768px) {
  .arti-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .main-icons {
    justify-content: end;
  }
}
@media (min-width: 1024px) {
  .foot-textt,
  .main-icons,
  .footter-text {
    font-size: 18px !important;
  }
}
