*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  color: black;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.ellipse {
  background-color: rgba(133, 207, 207, 0.8);
  filter: blur(100px);
  width: 191px;
  height: 100px;
  left: calc(40% - 151px / 2 - 181.5px);
  top: 70px;
}
.coin {
  width: 25%;
  margin-top: -9rem;
}
.hero {
  width: 90%;
}
.sec-one {
  font-family: 'Ubuntu';
  font-style: normal;
  margin-top: -3rem;
}
.ellipse1 {
  width: 191px;
  height: 100px;
  left: calc(50% - 309px / 2 + 612.5px);
  background: rgba(133, 207, 207, 0.8);
  filter: blur(50px);
  margin-left: 8rem;
  margin-top: -6rem;
}
.text-one {
  font-weight: 500;
  font-size: 26px;
  line-height: 120.7%;
  color: #155ed7;
}
.text-two {
  margin-top: -1.5rem;
  color: #3c2b4a;
}
.buttn {
  width: 140px;
  height: 50px;
  margin-top: -1.8rem;
  border: 1px solid #155ed7;
  background: linear-gradient(
    278.02deg,
    #25f6ff -25.65%,
    #7782ff 48.4%,
    #155ed7 108.83%
  );
  border-radius: 89px;
}
.sec-two {
  background: #f4f6f8;
  border: 1px dashed #155ed7;
  border-radius: 12px;
}
.vert-line {
  border: 0.75px solid #7782ff;
  transform: rotate(180deg);
}
.vert-line1 {
  border: 0.75px solid #ff5196;
  transform: rotate(180deg);
}
.vert-line2 {
  border: 0.75px solid #ffb04e;
  transform: rotate(180deg);
}
.div-one {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 17.8px;
  line-height: 128.7%;
}
.MarSize {
  color: #797979;
}
.color1 {
  color: #155ed7;
}
.color2 {
  color: #27caea;
}
.color3 {
  color: #7782ff;
}
.ellipse3 {
  width: 191px;
  height: 120px;
  left: calc(50% - 351px / 2 + 651.5px);
  background: rgba(133, 207, 207, 0.8);
  filter: blur(35px);
  margin-left: 8rem;
}
.arrow {
  width: 70%;
  margin-top: -4rem;
}
.text-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 129.7%;
  color: #000000;
}
.yencoin {
  width: 40% !important;
}
.mainn {
  width: 55%;
  margin: 0 auto;
}
.main-sec {
  border: 1px solid #f3f3f3;
  width: 50%;
  height: 45px;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.inves {
  /* background: #155ed7; */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  /* color: white; */
}
.start-up {
  /* color: #155ed7; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}
.star-icon {
  width: 30px;
  height: 30px;
}
.grid-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.numb {
  font-weight: 500;
  font-size: 16px;
  line-height: 129.7%;
  color: #155ed7;
  margin-top: 5px;
  margin-left: 8px;
}
.divv-two {
  border: 1px solid #ebf2f8;
  background: #ebf2f8;
  border-radius: 20px;
}
.texxt-two {
  color: #263238;
}
.back-image {
  width: 100%;
}
.textt-three {
  margin-top: -6rem;
  font-weight: 700;
  font-size: 12px;
  line-height: 129.7%;
  text-transform: capitalize;
}
.small-text {
  margin-top: -0.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 129.7%;
  text-transform: capitalize;
  color: #ffffff;
}
.build-buttn {
  width: 160px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
}
.hero-ellipse1 {
  display: none;
}
@media (min-width: 768px) {
  .ellipse {
    filter: blur(83px);
    width: 397px;
    height: 190px;
    top: 180px;
  }
  .coin {
    margin-top: -12rem;
  }
  .hero-ellipse {
    display: none;
  }
  .hero-ellipse1 {
    display: block;
  }
  .sec-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: -5rem;
  }
  .text-one {
    font-weight: 700;
    font-size: 30px;
  }
  .buttn {
    width: 170px;
    height: 50px;
    margin-top: -1.8rem;
  }
  .hero {
    width: 95%;
    margin-top: -2rem;
  }
  .ellipse1 {
    width: 200px;
    filter: blur(60px);
    margin-left: 11rem;
    margin-top: -7rem;
  }
  .div-one {
    padding: 6rem !important;
    margin-top: -3.5rem;
    font-weight: 700;
    font-size: 20px;
  }
  .yencoin {
    width: 25% !important;
  }
  .ellipse3 {
    height: 180px;
    filter: blur(55px);
    margin-left: 35rem;
  }
  .home-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: -2rem !important;
  }
  .arrow {
    width: 80%;
  }
  .goal-text {
    font-size: 35px;
  }
  .yen-coin {
    margin-top: -5rem;
    width: 20% !important;
  }
  .mainn {
    width: 30%;
  }
  .textt-three {
    margin-top: -12rem;
    line-height: 135%;
    font-size: 22px;
  }
  .small-text {
    margin-top: 2.5rem;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
  }
}
@media (min-width: 1024px) {
  .ellipse {
    filter: blur(183px);
    width: 500px;
    height: 220px;
    top: 180px;
  }
  .coin {
    margin-top: -24rem;
    width: 16%;
  }
  .sec-one {
    margin-top: -15rem;
    padding: 3rem;
  }
  .text-one {
    font-size: 42px;
  }
  .text-two {
    font-size: 18px;
  }
  .buttn {
    width: 180px;
  }
  .hero {
    width: 75%;
    margin-top: -6rem;
  }
  .ellipse1 {
    width: 540px;
    filter: blur(80px);
  }
  .div-one {
    padding: 10rem !important;
    font-size: 30px;
  }
  .sec-two {
    margin-top: -8rem;
  }
  .vert-line,
  .vert-line1,
  .vert-line2 {
    margin-left: 1.8rem !important;
  }
  .color1,
  .color2,
  .color3 {
    margin-left: 1.5rem !important;
  }
  .yencoin {
    width: 17% !important;
  }
  .ellipse3 {
    height: 300px;
    filter: blur(90px);
    margin-left: 70rem !important;
  }
  .home-main,
  .arrow {
    margin-top: -8rem !important;
  }
  .text-three {
    font-size: 20px;
  }
  .yen-div {
    padding: 3rem;
  }
  .yen-coin {
    margin-top: -30rem !important;
    width: 15% !important;
  }
  .sect-three {
    padding: 3rem !important;
    margin-top: -5rem !important;
  }
  .mainn {
    width: 15%;
  }
  .arrt-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 10px;
  }
  .grid-one {
    /* border: 1px solid red; */
    transform: translate(6rem);
  }
  .textt-three {
    margin-top: -20rem;
    font-size: 40px;
  }
  .small-text {
    font-size: 30px;
  }
  .build-buttn {
    margin-top: 3rem;
    width: 190px;
    height: 60px;
  }
}
