.ham-icon {
  /* border: 1px solid red; */
  color: linear-gradient(
    278.02deg,
    #25f6ff -25.65%,
    #7782ff 48.4%,
    #155ed7 108.83%
  ) !important;
  font-size: 1.6rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.nav-togg {
  border: none;
}
