.d_team_wrapper {
  width: 80%;
  margin: 40px auto;
}

.d_team_grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 75px;
  list-style-type: none;
}

.stellar_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 129.7%;
  text-align: center;
  text-transform: capitalize;
  color: #155ed7;
  margin-bottom: 60px;
}
.member_photo {
  width: 241px;
  height: 226px;
  border: 1px dash #155ed7;
}
.member_name {
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}
