.d_team_wrapper {
  width: 100%;
  margin: 40px auto;
}

.d_team_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 90px;
  list-style-type: none;
  margin: 16px;
}
.d_team_grid > .member_info:nth-of-type(1), .d_team_grid > .member_info:nth-of-type(2), .d_team_grid > .member_info:nth-of-type(3) {
  grid-column: span 4 / span 12;
}
.d_team_grid > .member_info:nth-of-type(4), .d_team_grid > .member_info:nth-of-type(5), .d_team_grid > .member_info:nth-of-type(6), .d_team_grid > .member_info:nth-of-type(7) {
  grid-column: span 6 / span 12;
}

.advisor_section {
  margin-top: 200px;
}

.d_advisor_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  margin: 16px;
}

.d_advisor_grid > .member_info:nth-of-type(3) {
  grid-column: span 2 / span 2;
}

.member_photo_wrapper {
  /* width: 200px; */
  /* height: 200px; */
}

.stellar_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 129.7%;
  text-align: center;
  text-transform: capitalize;
  color: #155ed7;
  margin-bottom: 60px;
}
.member_photo {
  /* width: 100%; */
  /* height: 100%; */
  border: 1px dashed #155ed7;
  border-radius: 50%;
}
.member_name {
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
  font-size: 24px !important;
  white-space: pre-wrap;
}
.member_position {
  font-size: 14px !important;
}
.member_info {
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  display: flex;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.member_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: #155ed7;
  border-radius: 50%;
  margin-left: -35px;
  margin-bottom: 0px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .member_content_wrapper {
    margin-left: -15px;
  }
  .d_team_wrapper {
    width: 95%;
    margin: 40px auto;
  }
  .d_team_grid,
  .d_advisor_grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .d_team_wrapper {
    width: 100%;
    margin: 40px auto;
  }
  .member_photo_wrapper {
    width: 200px;
    height: 100%;
  }
  
  .member_content_wrapper {
    margin-left: -40px;
    width: 180px;
    height: 180px;
  }

  .member_info {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 550px) {
  .d_team_grid, 
  .d_advisor_grid {
    display: block;
  }
}
